<body>
    <div>
        <button mat-button mat-raised-button color="primary" routerLink="/root-nav">Voltar</button>
    </div>
    <mat-accordion *ngIf="clientes.length > 0">
        <mat-expansion-panel *ngFor="let cliente of clientes">
            <mat-expansion-panel-header
            >Nome: {{ cliente.nome }}</mat-expansion-panel-header
            >
            <p>Senha: {{ cliente.senha }}</p>
            <hr/>
            <p>Email: {{ cliente.email }}</p>
            <mat-action-row>
                <a mat-button color="primary" [routerLink]="['/editar', cliente.id]">EDITAR</a>
                <a mat-button color="warn" (click)="onDelete(cliente.id)">REMOVER</a>
            </mat-action-row>
            </mat-expansion-panel>
    </mat-accordion>
    
</body>