<mat-toolbar color="primary">
    Cronograma
</mat-toolbar>
<body>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   
      <!-- Dia Column -->
      <ng-container matColumnDef="dia">
        <th mat-header-cell *matHeaderCellDef> Dia </th>
        <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
      </ng-container>
    
      <!-- Horário Column -->
      <ng-container matColumnDef="horario">
        <th mat-header-cell *matHeaderCellDef> Horário </th>
        <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
      </ng-container>
    
      <!-- Atividade Column -->
      <ng-container matColumnDef="atividade">
        <th mat-header-cell *matHeaderCellDef> Atividade </th>
        <td mat-cell *matCellDef="let element"> {{element.atividade}} </td>
      </ng-container>
    
      <!-- Profissional Column -->
      <ng-container matColumnDef="profi">
        <th mat-header-cell *matHeaderCellDef> Profissional </th>
        <td mat-cell *matCellDef="let element"> {{element.profi}} </td>
      </ng-container>
  
      <!--Link Column-->
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef> Link </th>
        <td mat-cell *matCellDef="let element"> {{element.link}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</body>