table {
    width: 70%;
    height: 40%;
    position: absolute;
    bottom: 30%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto; 
    border: 1px solid black;
  }
body{
    
    background-image: url("crono.jpeg");
    position: relative;
    border-top: 2px solid black;
}
div{
  margin-top: 2rem;
  margin-left: auto;
  left :47%;
  display: inline-block;
  position: relative;
  text-align: end;
  
}