body {
    background-color: rgba(255, 123, 0, 0.931);
    position: relative;
}
.example-card{
    position: absolute;
    max-width: 390px;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto; 
    width: 70%;
    height: 25%;
    border: 1px solid black;
}
.login-box-header{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;   
    margin-left: 30%;                      
}


.example-form-field {
    width: 350px;
  }