<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <mat-toolbar color="primary">

            <span>Virtual Health Group</span>
    
        <span class="example-spacer"></span>
       
        <span>
            <i class="bi bi-person-circle"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
              
            <a routerLink="/navs"  mat-button>Login / SignUp</a>
        <!-- <a routerLink="/navs" mat-button>User</a> -->
            <!-- <a mat-raised-button routerLink="signup"> Sign-up</a> -->
        </span>
    </mat-toolbar>
    
    <div class="centrinho">
            <div>
                <p class="centro">Bem Vindo ao Virtual Health Group!</p>
                <p class="sub"> Agradecemos o interesse em nosso site. </p>
                <p class="subs">Aqui tentaremos tratar dos seus problemas. Nossos grupos de apoio são feitos por meio de videochamadas, não hesite em melhorar a sua saúde mental! </p>
            </div>
    </div>

</body>
</html>
