mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
}
a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    }
span {
    margin-left: 24px;

}
.centrinho {
    position: relative;
    height: 95%;
    background: #ebebeb ;
    background-image: url("imagemm.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top: 5px solid black;
}
.centro{
    width: 70%;
    height: 50px;
    position: absolute;
    margin: auto;
    bottom: 70%;
    top: 0;
    right: 0;
    left: 0;
    font-size: 205%;
    color:#ebebeb;
    text-align:center;
}
.sub{
    width: 60%;
    height: 50px;
    position: absolute;
    
    margin: auto;
    bottom: 62%;
    top: 0;
    right: 0;
    left: 0;
    font-size: 120%;
    color: #ebebeb;
    text-align: center;
}
.subs{
    width: 60%;
    height: 50px;
    position: absolute;
    
    margin: auto;
    bottom: 57%;
    top: 0;
    right: 0;
    left: 0;
    font-size: 120%;
    color: #ebebeb;
    text-align: center;
}