<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/quest">Questionário</a>
      <a mat-list-item routerLink="/dispo">Disponibilidade</a>
      <a mat-list-item routerLink="/crono">Cronograma</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Virtual-Health-Group</span>
    </mat-toolbar>
    <mat-card class="bemvindo"> 
      <mat-card-title>Bem Vindo!</mat-card-title>
      <mat-card-subtitle>Para começarmos vc primeiro terá que responder ao questionário...</mat-card-subtitle>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
