.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.bemvindo {
  margin: 20px;
  height: 230px;
  
  border: blueviolet;
}

mat-sidenav-content{
  background-image: url("imagee.jpeg");
  background-size: 100% 100%;
  position: relative;
}
mat-card-title{
  font-size: 320%;
}
