<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/quest">Questionário</a>
      <a mat-list-item routerLink="/dispo">Disponibilidade</a>
      <a mat-list-item routerLink="/crono">Cronograma</a>
      <a mat-list-item routerLink="/lista">Lista de Usuários</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Virtual Health Group</span>
    </mat-toolbar>
    <mat-card class="bemvindo"> 
      <mat-card-title>Bem Vindo!</mat-card-title>
      <br>
      <mat-card-subtitle> Primeiramente, agradecemos por fazer ingressar no nosso site e esperamos que a nossa parceria seja duradoura e que nosso trabalho consiga restabelecer a sua saúde mental!</mat-card-subtitle>
      <p>Siga os próximos passos para ter acesso ao seu cronograma.</p>
      <a>1. Na barra de navegação ao lado, você deverá registrar os grupos que deseja participar. Para isso basta responder as perguntas na aba <a color="warn">questionário</a>.</a>
      <p>2. Em seguida você deverá fazer o registro dos seus horários disponíveis na aba <a color="warn">Disponibilidade</a>. </p>
      <p>3. Finalizando você poderá clicar em 'Listar' na aba <a color="warn">cronograma</a> para vizualizar o seu de acordo com as suas respostas.</p>
      <p color="warn"> OBS: Temos apenas dois horários disponíveis, um na parte da manhã (8H ás 10H) e outro na tarde (14H às 16H).</p>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
