.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.bemvindo {
  margin: 15px;
}

mat-sidenav-content{
    background-color: rgba(255, 123, 0, 0.931);
    position: relative;
}
