<mat-toolbar color="primary">
    Disponibilidade 
</mat-toolbar>
<body>
    
    <mat-card class="example-card">
        <mat-card-title>Dia da semana: {{diaAtual.texto}}</mat-card-title>
        <mat-card-actions >
          <button mat-button (click)="respostaS()">8H ás 10H</button>
          <a>  ou</a>
          <button mat-button (click)="respostaN()">14H ás 16H</button>
          <button mat-button (click)="proximo()"> Próxima </button>
          <button mat-button (click)="anterior()"> Voltar </button>
          <button mat-button (click)="onSalvarResposta()">Salvar</button>
        </mat-card-actions>
    </mat-card>
</body>