mat-card {
    position: absolute;
    max-width: 390px;
    bottom: 0;
    top: 0;
    right: 0;
    left: 50%;
    margin: auto; 
    width: 70%;
    height: 30%;
    border: 1px solid black;

}

mat-form-field,
    input {
    width: 100%;
    }


.example-form-field {
    width: 350px;
  }

.cadastro-box-header{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 33%;                      
}